<form #profileForm="ngForm" (ngSubmit)="profileSubmit(profileForm)" autocomplete="off">
    <div class="row">

        <div class="col-md-6">
            <div *ngIf=!ImagePath>
                <label for="file">Upload Profile Image <span class="red-start">*</span>:</label>
                <input type="file" (change)="uploadProductImage($event)" accept=".png,.jpg" />
            </div>
            <div *ngIf=ImagePath class="profile-image-container">
                <img [src]="ImagePath" class="profile-image" alt="Profile Image">
            </div>

        </div>
        <div class="col-md-6">
            <div class="col-md-12 mrgn-bottom">
                <input type="text" class="form-control" placeholder="First Name" ngModel name="firstName"
                    #profileFName="ngModel" required>
                <div class="alert alert-danger" *ngIf="profileFName.touched && profileFName.invalid">
                    <div *ngIf="profileFName.errors.required">First Name is required</div>

                </div>
            </div>
            <div class="col-md-12 mrgn-bottom">
                <input type="text" class="form-control" placeholder="Last Name" ngModel name="lastName"
                    #profileSName="ngModel" required>
                <div class="alert alert-danger" *ngIf="profileSName.touched && profileSName.invalid">
                    <div *ngIf="profileSName.errors.required">Second Name is required</div>

                </div>
            </div>
            <div class="col-md-12 mrgn-bottom">
                <input type="text" class="form-control" placeholder="Address Line 1" ngModel name="address1"
                    #profileAdress1="ngModel" required />
                <div class="alert alert-danger" *ngIf="profileAdress1.touched && profileAdress1.invalid">
                    <div *ngIf="profileAdress1.errors.required">Address line 1is required</div>

                </div>

            </div>

            <div class="col-md-12 mrgn-bottom">
                <input type="text" class="form-control" placeholder="Address Line 2" ngModel name="address2"
                    #profileAdress2="ngModel" required />
                <div class="alert alert-danger" *ngIf="profileAdress2.touched && profileAdress2.invalid">
                    <div *ngIf="profileAdress2.errors.required">Address Line2 is required</div>

                </div>

            </div>

            <div class="col-md-12 mrgn-bottom">
                <input type="text" class="form-control" placeholder="Land Mark" ngModel name="landmark"
                    #profilelandmark="ngModel" required />
                <div class="alert alert-danger" *ngIf="profilelandmark.touched && profilelandmark.invalid">
                    <div *ngIf="profilelandmark.errors.required">Land Mark is required</div>

                </div>

            </div>

            <div class="col-md-12 mrgn-bottom">
                <input type="number" class="form-control" pattern="[0-9]{6}" placeholder="PinCode" ngModel
                    name="pincode" #Profilepincode="ngModel" required />
                <div class="alert alert-danger" *ngIf="Profilepincode.touched && Profilepincode.invalid">
                    <div *ngIf="Profilepincode.errors.required">Pincode is required</div>
                    <div *ngIf="Profilepincode.errors.pattern">Please provide proper pincode</div>
                </div>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 mrgn-bottom mrgn-top">
            <input type="number" placeholder="Phone Number" class="form-control" name="phoneNumber" ngModel
                #profilePhNumber="ngModel" required pattern="[789][0-9]{9}">
            <div class="alert alert-danger" *ngIf="profilePhNumber.touched && profilePhNumber.invalid">
                <div *ngIf="profilePhNumber.errors.required">Phone Number is requierd</div>
                <div *ngIf="profilePhNumber.errors.pattern">Please provide a number having 10 digit starting with '9' or
                    '8' or '7'</div>
            </div>
        </div>
        <div class="col-md-6 mrgn-bottom">
            <label>Select Gender</label>
            <select class="form-control" (change)="selectGender($event)" name="selectGender" ngModel
                #profileGender="ngModel" required>
                <option [ngValue]="gender.name" *ngFor="let gender of genderList">
                    {{gender.name}}
                </option>
            </select>
            <div class="alert alert-danger" *ngIf="profileGender.touched && profileGender.invalid">
                <div *ngIf="profileGender.errors.required">Please Select Your gender</div>

            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid || disableBtn">Save</button>
        <button class="btn btn-default">Cancel</button>
    </div>
</form>