<div class="row">
    <div class="col-md-3 col-xs-12">
        <app-products-filter (categoryEventEmitter) = filterProducts($event)></app-products-filter>
    </div>
    <div class="col-md-9 col-xs-12">
        <div class="row" *ngIf ="filteredProducts && filteredProducts.length> 0">
            <ng-container *ngFor="let product of filteredProducts; let i = index">
                <div class="col">
                    <app-products-list [product] = "product"></app-products-list>
                </div>
                <div *ngIf="(i +1) %2 === 0" class="w-100">

                </div>
            </ng-container>

        </div>
        <div *ngIf ="!(filteredProducts && filteredProducts.length> 0)">
                There is no product for selected category
        </div>
    </div>
</div>