.dropdown-toggle {
    cursor: pointer;
}

.mr-auto{
    position: absolute;
    right: 50px;
}

.dropdown-men-chng-postion{
    position: absolute;
    right: 10px !important;
}

.navbar-brand{
    cursor: pointer;
}

.nav-item-user{
    padding-top: 8px;
}
.fa-user-width{
    font-size: 25px;
}

.nav-item-shopping-cart{
    margin-right: 10px;
}

