<div class="card" style="width: 20rem;">
    <img src="{{product.imageUrl}}" class="card-img-top" alt="image is not loaded">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price | currency : 'USD': true}}</p>

    </div>
    <div class="card-footer">
            <button 
            class="btn btn-primary btn-block"
            (click) ="addToCart(product)"
            >Add To Cart</button>
            <button 
            class="btn btn-danger btn-block"
            (click) ="removeFromCart(product)"
            >Remove From Cart</button>
    </div>
    <div *ngIf ="product.showError">
        <p>Product Count can not be zero</p>
    </div>
</div>