<div class="sticky-top sticky">
    <ul class="list-group">
        <li class="list-group-item filter-list-item active"
         [ngClass]="{'active' : -1 === trackIndex }" 
         (click)="filterProducts('', -1)" *ngIf ="categories"><span>All</span></li>
        <li *ngFor="let category of categories ; let i = index" class="list-group-item filter-list-item"
            [ngClass]="{'active' : i === trackIndex }" (click)="filterProducts(category, i)">
            <!-- <span *ngIf ="i==0">All</span> -->
            <span>{{category.name}}</span>

        </li>
    </ul>
</div>