<div class="row">
    
    <div class="col-9">
        <div *ngFor="let product of maintainArray" class="col-12">
            <div class="row custom-card">
                <div class="col-3">
                    <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
                </div>
                <div class="col-6">
                    <h5 class="card-title">{{product.title}}</h5>
                    <span>{{product.count}} </span> * <span>{{product.price | currency:"₹": true}}</span >=  <span>{{((product.count) * (product.price)) |  currency:"₹": true}} </span>
                </div>
            </div>
        </div>
        <div *ngIf ="maintainArray &&  maintainArray.length ===0">
            <h2 style ="text-align: center">You Cart is Empty</h2>
        </div>
    </div>
    <div class="col-3">
        <app-check-out [finalProductPrice] ="productFinalCount"></app-check-out>
    </div>

</div>