<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6">
        <form (ngSubmit)="submitForm(f.value)" #f="ngForm">
            <div class="form-group">
                <label for="title">Title <span class="red-start">*</span></label>
                <input type="text" [(ngModel)]="product.title" name="title" class="form-control" id="title" required
                    #title="ngModel">
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    <span>Title is required</span>
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price <span class="red-start">*</span></label>
                <div class="input-group">
                    <span class="input-group-addon background-color-price">$</span>
                    <input type="number" [(ngModel)]="product.price" name="price" class="form-control" id="price"
                        required #price="ngModel" [min]=0>

                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors.required">Price is required</div>
                    <div *ngIf="price.errors.min">Price can not be less than 0 </div>
                </div>

            </div>


            <div class="form-group">
                <label for="description">Product Description <span class="red-start">*</span></label>
                <textarea [(ngModel)]="product.description" name="description" class="form-control" id="description"
                    required #description="ngModel"></textarea>
                <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
                    <div *ngIf="description.errors.required">Description is required</div>

                </div>

            </div>

            <div class="form-group">
                <div class="mgrn-botton">
                    <progress max="100" [value]="(uploadProgress | async)" class="progress-bar chgn-width"
                        min="0"></progress>
                </div>
                <label for="file">Upload Product Image <span class="red-start">*</span>:</label>
                <input type="file" (change)="uploadProductImage($event)" accept=".png,.jpg" />

            </div>


            <div class="radio">
                <label>
                    <input type="radio" value="1" id="point1" (change)="onProfitSelectionChange(1)" name="ProfitCode">
                </label><span>Product is  avaliable</span>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="2" id="point2" (change)="onProfitSelectionChange(2)" name="ProfitCode">
                </label><span>Product is not avaliable</span>
            </div>

            <div class="form-group">
                <label for="category">Select Option <span class="red-start">*</span></label>
                <select type="number" class="form-control" id="category" [(ngModel)]="product.category" name="category"
                    required #category="ngModel">
                    <option value=""> </option>
                    <option *ngFor="let catory of categories$ | async as categories" [value]=catory.name>{{catory.name}}
                    </option>

                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    <span>Category is required</span>
                </div>
            </div>
            <button class="btn btn-primary mrgn-left" [disabled]=f.invalid>Save</button>
            <button type="button" class="btn btn-danger" (click)="delete(product)">Delete</button>
        </form>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6">
        <div class="card" style="width: 18rem;">
            <img [src]="product.productImagePath" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{title.value}}</h5>
                <p class="card-text">{{price.value | currency : 'USD': true}}</p>

            </div>
        </div>
    </div>
</div>