.background-color-price{
    padding: 5px;
    background-color: #f8f9fa !important;
}

.chgn-width{
    width: 100% !important;
}

.mgrn-botton{
    margin-bottom: 20px;
}

.mrgn-left{
    margin-right: 30px;
}